In [1]:
import pandas as pd

# Load the metadata file
metadata_path = '/kaggle/input/birdclef-2022/train_metadata.csv'
metadata_df = pd.read_csv(metadata_path)

# Display the total number of samples
total_samples = len(metadata_df)
print(f"Total number of samples: {total_samples}")

# Display different ratings present and the number of samples per each rating
ratings_count = metadata_df['rating'].value_counts().sort_index()
print("\nNumber of samples per each rating:")
print(ratings_count)

Total number of samples: 14852

Number of samples per each rating:
rating
0.0     570
0.5      30
1.0     155
1.5     152
2.0     575
2.5     724
3.0    1957
3.5    1765
4.0    3974
4.5    1632
5.0    3318
Name: count, dtype: int64

In [1]:
import pandas as pd

# Load the taxonomy file
taxonomy_path = '/kaggle/input/birdclef-2022/eBird_Taxonomy_v2021.csv'
taxonomy_df = pd.read_csv(taxonomy_path)

# List of columns to analyze
columns_to_analyze = ['CATEGORY', 'SPECIES_CODE', 'PRIMARY_COM_NAME', 'SCI_NAME', 'ORDER1', 'FAMILY', 'SPECIES_GROUP']

# Function to analyze each column
def analyze_column(df, column_name):
    print(f"\nColumn: {column_name}")
    
    # Total number of unique values
    unique_values = df[column_name].nunique()
    print(f"Total number of unique values: {unique_values}")
    
    # Number of missing values
    missing_values = df[column_name].isnull().sum()
    print(f"Number of missing values: {missing_values}")
    
    # Count of occurrences for each unique value
    value_counts = df[column_name].value_counts()
    print(f"\nCount of occurrences for each unique value:\n{value_counts}")

# Analyze each column in the list
for column in columns_to_analyze:
    analyze_column(taxonomy_df, column)

Column: CATEGORY
Total number of unique values: 8
Number of missing values: 0

Count of occurrences for each unique value:
CATEGORY
species       10824
issf           3761
slash           788
spuh            666
hybrid          545
form            120
intergrade       34
domestic         15
Name: count, dtype: int64

Column: SPECIES_CODE
Total number of unique values: 16753
Number of missing values: 0

Count of occurrences for each unique value:
SPECIES_CODE
ostric2    1
rolcis2    1
rolcis4    1
rolcis3    1
borcis1    1
          ..
grebar3    1
linbar1    1
y00399     1
brhbar1    1
bird1      1
Name: count, Length: 16753, dtype: int64

Column: PRIMARY_COM_NAME
Total number of unique values: 16753
Number of missing values: 0

Count of occurrences for each unique value:
PRIMARY_COM_NAME
Common Ostrich                    1
Rock-loving Cisticola             1
Rock-loving Cisticola (Huambo)    1
Rock-loving Cisticola (Lazy)      1
Boran Cisticola                   1
                                 ..
Green-eared Barbet                1
Lineated Barbet                   1
Green-eared/Lineated Barbet       1
Brown-headed Barbet               1
bird sp.                          1
Name: count, Length: 16753, dtype: int64

Column: SCI_NAME
Total number of unique values: 16753
Number of missing values: 0

Count of occurrences for each unique value:
SCI_NAME
Struthio camelus                       1
Cisticola aberrans                     1
Cisticola aberrans bailunduensis       1
Cisticola aberrans [aberrans Group]    1
Cisticola bodessa                      1
                                      ..
Psilopogon faiostrictus                1
Psilopogon lineatus                    1
Psilopogon faiostrictus/lineatus       1
Psilopogon zeylanicus                  1
Aves sp.                               1
Name: count, Length: 16753, dtype: int64

Column: ORDER1
Total number of unique values: 41
Number of missing values: 2

Count of occurrences for each unique value:
ORDER1
Passeriformes          9935
Caprimulgiformes        870
Charadriiformes         667
Piciformes              635
Psittaciformes          571
Columbiformes           469
Anseriformes            424
Galliformes             417
Accipitriformes         414
Strigiformes            385
Gruiformes              284
Coraciiformes           268
Procellariiformes       234
Cuculiformes            215
Pelecaniformes          196
Falconiformes           110
Bucerotiformes          105
Suliformes               94
Galbuliformes            77
Trogoniformes            67
Tinamiformes             58
Musophagiformes          43
Otidiformes              34
Podicipediformes         32
Ciconiiformes            26
Pterocliformes           24
Sphenisciformes          22
Cathartiformes           12
Phaethontiformes         11
Phoenicopteriformes       9
Gaviiformes               8
Apterygiformes            8
Coliiformes               7
Rheiformes                4
Casuariiformes            4
Mesitornithiformes        3
Struthioniformes          3
Eurypygiformes            2
Cariamiformes             2
Leptosomiformes           1
Opisthocomiformes         1
Name: count, dtype: int64

Column: FAMILY
Total number of unique values: 249
Number of missing values: 13

Count of occurrences for each unique value:
FAMILY
Tyrannidae (Tyrant Flycatchers)             658
Thraupidae (Tanagers and Allies)            544
Trochilidae (Hummingbirds)                  533
Muscicapidae (Old World Flycatchers)        529
Furnariidae (Ovenbirds and Woodcreepers)    495
                                           ...
Hypocoliidae (Hypocolius)                     1
Sagittariidae (Secretarybird)                 1
Platylophidae (Crested Shrikejay)             1
Peucedramidae (Olive Warbler)                 1
Donacobiidae (Donacobius)                     1
Name: count, Length: 249, dtype: int64

Column: SPECIES_GROUP
Total number of unique values: 216
Number of missing values: 16537

Count of occurrences for each unique value:
SPECIES_GROUP
Ostriches              1
African Warblers       1
Australasian Robins    1
Rockfowl               1
Rockjumpers            1
                      ..
Asities                1
Old World Pittas       1
Antbirds               1
Crescentchests         1
Others                 1
Name: count, Length: 216, dtype: int64

In [ ]:
/kaggle/input/birdclef-2022/eBird_Taxonomy_v2021.csv